{% load staticfiles %}
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="shortcut icon" href="/favicon.ico">
    <script src="/static/Char.min.js"></script>

    <title>CloudNow Enchipher Tool</title>

    <!-- Bootstrap core CSS -->
    <link href="{% static 'css/bootstrap.css' %}" rel="stylesheet">

    <!-- Custom styles for this template -->
	    <link href="{% static 'css/cover.css' %}" rel="stylesheet">

    <!-- Just for debugging purposes. Don't actually copy this line! -->
    <!--[if lt IE 9]><script src="../../assets/js/ie8-responsive-file-warning.js"></script><![endif]-->

    <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
	<script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
      <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
  </head>
  <body>
	<div class="site-wrapper">
          <div class="site-wrapper-inner">
              <div class="cover-container">
        {% block header %}
		<div class="masthead clearfix">
                      <div class="inner">
                          <h3 class="masthead-brand"><img alt="shieldnow" src="{% static 'logo-shieldnow-s.png' %}"> </h3>
                          <nav>
				<ul class="nav masthead-nav">
					<li><a href="/correo/">Encrypt</a></li>
					<li><a href="/">Decrypt</a></li>
				</ul>
                          </nav>
                      </div>
                  </div>
        {% endblock %}
<br>
<div class="inner cover">
                      <p class="lead">This is a tool to decrypt the ciphertext to send it by CloudNow's staff.</p>
    
    {% block content %}
    {% endblock %}
	</div>
    <div class="mastfoot">
                      <div class="inner">
                          <p>Powered by <a href="https://twitter.com/shieldnow">@ShieldNow</a>.</p>
                      </div>
                  </div>
              </div>
          </div>
      </div>
  </body>

</html>
